@import "mocha.css";

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: @crust;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @overlay1;
}

#window {
    margin: 8px;
    padding: 0 8px;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 4px;
    color: @overlay0;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button:hover {
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

/* --- Módulos de la derecha (Global) --- */
#bluetooth,
#network,
#pulseaudio,
#battery,
#clock,
#custom-update {
    margin-top: 7px;      /* Aumentamos para centrar verticalmente */
    margin-bottom: 3px;   /* Exactamente igual al superior */
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: none;  /* Eliminamos el borde transparente que desvía el centro */
}

/* --- Colores y Subrayados específicos --- */
#bluetooth {
    color: @blue;
    /* border-bottom: 2px solid @blue; */
}

#network {
    color: @green;
    /* border-bottom: 2px solid @green; */
}

#pulseaudio {
    color: @yellow;
    /* border-bottom: 2px solid @yellow; */
}

#pulseaudio.muted {
    color: @red;
    /* border-bottom-color: @red; */
}

#battery {
    color: @mauve;
    /* border-bottom: 2px solid @green; */
}

#clock {
    color: @pink;
    /* border-bottom: 2px solid @pink; */
}

/* El nuevo botón de apagado (sin subrayado) */
#custom-powermenu {
    color: @red;
    margin-top: 7px;      /* Igual que el resto */
    margin-bottom: 3px;   /* Igual que el resto */
    margin-left: 10px;
    margin-right: 15px;
    padding: 0 5px;
    border-bottom: none;
}

#custom-update {
    color: @red;
    /* border-bottom: 2px solid @red; */
}
